.footer-container-wrapper {
	display: flex;
	justify-content: center;
}

.linked-in-logo {
	margin-left: 5px;
}

.footer-container {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: auto;
	gap: 0px;
	font-size: 14px;
}

.footer-container ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.footer-container a {
	color: black;
	padding: 3px 5px;
}

.footer-container a:hover {
	text-decoration: underline;
}

.footer-container li {
	position: relative;
}

.dropdown-list {
	position: absolute;
	top: -85px;
	left: 0;
	z-index: 1;
	background-color: white;
	border: 1px solid #ccc;
	padding: 0;
	margin: 0;
	list-style: none;
	display: none;
	font-size: 14px;
}

.dropdown-list.show {
	display: block;
}

.question {
	margin-left: -50px;
	display: flex;
	align-items: center;
}

.question svg {
	margin-right: 10px;
}

.text-container {
	display: flex;
	flex-direction: column;
}

.text-container a,
.text-container p {
	margin: 0;
}

.text-container a {
	font-weight: bold;
}

.right-section {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	font-size: 14px;
}

.right-section select {
	width: 100%;
	height: 30px;
	margin-top: 5px;
}

.copy-container {
	grid-column: 1 / -1;
	font-size: 12px; /* reduce font size */
	padding: 5px;
}
